OrganicWeb/.vs/OrganicWeb/v17/.suo
OrganicWeb/.vs/OrganicWeb/DesignTimeBuild/.dtbcache.v2
OrganicWeb/.vs/OrganicWeb/v17/.futdcache.v1
OrganicWeb/.vs/OrganicWeb/v17/fileList.bin
OrganicWeb/bin/Debug/net6.0/OrganicWeb.dll
OrganicWeb/bin/Debug/net6.0/OrganicWeb.pdb
OrganicWeb/obj/Debug/net6.0/OrganicWeb.dll
OrganicWeb/obj/Debug/net6.0/OrganicWeb.pdb
OrganicWeb/obj/Debug/net6.0/ref/OrganicWeb.dll
OrganicWeb/obj/Debug/net6.0/refint/OrganicWeb.dll
OrganicWeb/obj/staticwebassets.pack.sentinel
