<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/AdminAssets/css/bootstrap.css">

    <link rel="stylesheet" href="~/AdminAssets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/AdminAssets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/AdminAssets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/AdminAssets/css/app.css">
    <link rel="shortcut icon" href="~/AdminAssets/images/favicon.svg" type="image/x-icon">

</head>

<body>
    <div id="app">

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            @await Html.PartialAsync("_SlideBarPartialView.cshtml")

            <div class="page-heading">
                <h3>Profile Statistics</h3>
            </div>
            <div class="page-content">
                @RenderBody() 
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; TuanTV37</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">TuanTV37</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/AdminAssets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/AdminAssets/js/bootstrap.bundle.min.js"></script>

    <script src="~/AdminAssets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/AdminAssets/js/pages/dashboard.js"></script>

    <script src="~/AdminAssets/js/main.js"></script>
</body>

</html>